    .authentication {
        background-color: grey;
    }

    .privacy__terms {
        text-align: center;
        z-index: 100;
        position: relative;
        color: #6a6f72;
        margin-top: 100px;

        p {
            font-size: .75rem;
        }

        a {
            color: #6a6f72;
            text-decoration: underline;
        }
    }