    #authentication__container {
        display: grid;
        place-items: center;
        height: 100vh;
    }
    
    #authentication__verification {

        @include lg {
            border-right: thin solid $grey-alt;
        }
    }

   
    #authentication__options {
        position: relative;

        @include lg {
            &::before {
                color: $black-alt;
                content: 'or';
                background: $white;
                position: absolute;
                left: 0;
                margin-left: -8px;
                padding: 8px 0;
            }
        }
    }

    #authentication__wrapper {
        align-items: center;
    }

    .authentication_section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .authentication__wrapper {
        width: 100%;
        max-width: 25rem;

        @include lg {
            // 400px
            width: 25rem;
        }
    }

    .authentication__heading {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0 30px;

        .authentication__title {
            font-size: 2em;
            font-weight: 600;
            color: $black-alt;
            text-align: center;
        }
    }

    .button__auth_connect {
        color: $black-alt;
        border: 1px solid $line-alt;
        font-size: 1em;
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .auth__icon {
            width: 25px;
            height: 100%;
        }
    
        .auth__message {
            font-size: 14px;
        }
    }

    .authentication__line {
        display: flex;
        border-bottom: 1px solid $line;
        color: $black-alt;
        height: 0;
        margin: 2.5rem 0;
        text-align: center;

        p {
            width: 40px;
            background-color: $white;
            margin: auto;
            font-size: 18px;
            margin-top: -15px;
        }
    }

    .authentication__option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 25px;

        input[type='checkbox'] {
            padding: 0;
            margin: 0;
            position: relative;
        }

        span {
            font-size: 14px;
            color: $black-alt;
            margin-left: 5px;
        }
    }

    .button__auth_login {
        width: 100%;
        font-weight: normal;
        background-color: $black-alt;
        height: 45px;
        appearance: none;
    }