    .site__footer {
        background-image: linear-gradient(105deg, $red-alt, $red);
        padding: 20px 0;
        margin: 0;

        .site__copyright {
            color: $white;
            font-size: 16px;
            text-align: center; 
        }
    }
    
    .privacy__terms {
        text-align: center;
        z-index: 100;
        position: relative;
        color: $grey;
        margin: 80px 0 40px;

        p {
            font-size: .75rem;
        }

        a {
            color: $grey;
            text-decoration: underline;
        }
    }