    .main {
        min-height: 600px;
        margin: 0px auto;
        width: auto;
        max-width: 460px;
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    .path {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 4s alternate infinite;
    }

    .fundo {
        animation: scales 3s alternate infinite;
        transform-origin: center;
    }

    .pao-baixo {
        animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97) infinite;
        transform-origin: center;
    }

    .pao-cima {
        animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97) infinite;
        transform-origin: center;
    }

    .olhos {
        animation: olhos 2s alternate infinite;
        transform-origin: center;
    } 

    .left-sparks {
        animation: left-sparks 4s alternate infinite;
        transform-origin: 150px 156px;
    }

    .right-sparks {
        animation: left-sparks 4s alternate infinite;
        transform-origin: 310px 150px;
    }

    @keyframes scales {
        from { 
            transform: scale(0.98);
        }

        to { 
            transform: scale(1);
        }
    }

    @keyframes rotatepao {
        0% { 
            transform: rotate(0deg);
        }

        50%,
        60% { 
            transform: rotate(-20deg);
        }

        100% {  
            transform: rotate(0deg); 
        }
    }

    @keyframes olhos {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(30deg);
        }
    }

    @keyframes left-sparks {
        0% {
            opacity: 0; 
        }
    }

    @keyframes dash {
        0%, 
        30% {
            fill: 4B4B62;
            stroke-dashoffset: 0;
        }

        80%,
        100% {
            fill: transparent;
            stroke-dashoffset: -200;
        }
    }

    
    .site__section_about {
	    position: relative;
	    padding: 60px 0 80px;
        background-color: transparent;

        #site__about_content {
	        position: relative;
            text-align: center;

            @include lg {
                text-align: left;
	            margin-bottom: 50px;
            }

            .site__section_content_inner {
                position: relative;

                @include lg {
                    padding: 40px 100px 0 0;
                }

                .site__section_content_heading {
                    position: relative;
                    padding-bottom: 20px;
                    color: $black-alt;

                    @include lg {
                        padding-bottom: 20px;
                    }
                
                    .site__section_content_title {
                        position: relative;
                        color: $red-alt;
                        font-size: 18px;
                        font-weight: 700;
                        padding-right: 50px;
                        margin-bottom: 10px;
                        display: inline-block;
                        text-transform: capitalize;
                        
                        &::before {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: 10px;
                            width: 40px;
                            height: 1px;
                            background-color: $grey-alt;
                        }
                    }            
                }

                .site__section_content_text {
                    position: relative;
                    color: $grey;
                    font-size: 14px;
                    line-height: 1.5em;
                    margin-bottom: 25px;

                    @include lg {
                        font-size: 16px;
                        margin-bottom: 40px;
                    }
                }
    
                .site__section_content_button {
                    position: relative;
                    line-height: 24px;
                    color: $black-alt;
                    font-size: 16px;
                    font-weight: 700;
                    display: inline-block;
                    padding: 12px 40px;
                    background-color: $white;
                    text-transform: capitalize;
                    border: 2px solid $red-alt;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        z-index: -1;
                        right: -10px;
                        bottom: -10px;
                        background: url('../images/layout/pattern.jpg') no-repeat;
                    }

                    &:hover {
                        color: $white;
                        background-color: $red-alt;
                    }
                }
            }
        }

        #site__about_image {
            display: none;

            @include lg {
                position: relative;
                display: block;
                margin-bottom: 50px;
            }

            .site__section_image_inner {
                position: relative;
                padding: 40px 40px 0 0;
                margin-left: 50px;

                .site__section_image_container {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        left: -50px;
                        bottom: -50px;
                        width: 300px;
                        height: 300px;
                    }

                    .site__section_image_overlay {
                        position: absolute;
                        left: 50px;
                        bottom: 50px;

                        .site__section_image_overlay_year {
                            position: relative;
                            color: $black-alt;
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 1.4em;
                            padding-left: 125px;
                        }

                        .site__section_image_overlay_number {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100px;
                            height: 100px;
                            color: $red-alt;
                            font-size: 70px;
                            font-weight: 700;
                            line-height: 105px;
                            text-align: center;
                            background-color: $white;
                            border: 1px solid $black;
                        }
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    left: 40px;
                    bottom: 100px;
                    z-index: -1;
                    border: 2px solid $red-alt;
                }
            }
        }
    }


    .site__section_service {
        background-color: $white-alt;
        position: relative;
	    padding: 100px 0;

        .site__section_service_title {
            text-align: center;
            margin-bottom: 30px;
            color: $black-alt;

            h2 {
                position: relative;
                margin-bottom: 50px;
                display: inline-block;
                font-weight: 600;
                line-height: 1;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 80px;
                    height: 5px;
                    background-color: $red-alt;
                    bottom: -25px;
                    margin: auto;
                    right: 0;
                }
            }

            p {
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 1.5em;

                @include xl {
                    padding: 0 180px;
                }
            }
        }

        .site__section_service_container {
            border: 1px solid $line-alt;
            padding: 50px 30px;
            position: relative;
            text-align: center;
            margin-bottom: 30px;

            &#site__section_service_hair {
                &:hover {
                    background-image: url('../images/layout/hair.jpg');
                }
            }

            &#site__section_service_nail {
                &:hover {
                    background-image: url('../images/layout/nail.jpg');
                }
            }

            &#site__section_service_massage {
                &:hover {
                    background-image: url('../images/layout/massage.jpg');
                }
            }

            &:hover {
                background-size: cover;
                background-position: center center;
                background-attachment: local;
                transition: all .5s;
                background-color: gradient(to top bottom, $grey, $grey-alt);

                &::before {
                    content: "";
                    position: absolute;
                    background: rgba(0, 0, 0, 0.3);
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    opacity: 1;
                }

                h4, 
                p {
                    color: $white;
                }
            }

            .site__section_service_icon {
                position: relative;
                padding: 0;
        
                i {
                    font-size: 40px;
                    color: $red-alt;
                    margin-bottom: 20px;
                    display: inline-block;
                }
            }

            h4 {
                font-weight: 600;
                color: $black-alt;
                margin-bottom: 18px;
                font-size: 18px;
                text-transform: capitalize;
                position: relative;
            }

            p {
                color: $black;
                margin-bottom: 15px;
                position: relative;
            }

            a {
                font-size: 14px;
                font-weight: 600;
                position: relative;
                color: $red-alt;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    .site__section_news {
        background-color: transparent;
        padding: 100px 0 80px;
        position: relative;
    }
    
    .site__section_news_container {
        box-shadow: 0 0 15px $line;
        transition: 0.5s;
        margin: 0 0 40px;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 15px 15px 0px $line-alt;
        }
    }
    
    .site__section_news_item {
        position: relative;
    }

    .site__section_news_content {
        padding: 30px 25px;

        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $black-alt;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            color: $black;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 10px;
        }
    }

    .site__section_news_image {
        position: relative;
    }

    .site__section_news_date {
        color: $red-alt;
    }   
    
    .site__section_news_author {
        border: transparent;
        padding: 14px 0 0;
        font-size: 14px;

        i {
            margin-right: 6px;
            color: $blue;
        }

        a {
            color: $grey;
        }

        span {
            &:last-child {
                float: right;
            }
        }
    }
    
    .site__section_news_heading {
        margin: 0 0 50px;
        text-align: center;

        .site__section_news_title {
            color: $black-alt;
            position: relative;
            margin-bottom: 25px;
            display: inline-block;
            font-weight: 600;
            line-height: 1;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 80px;
                height: 5px;
                background-color: $red-alt;
                bottom: -25px;
                margin: auto;
                right: 0;
            }
        }
    }

    .appointment {
        background-color: $pink-alt;
        padding: 30px 0 80px;
        min-height: 100%;
    }

    .appointment__wrapper {
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(146, 98, 98, 0.04), 0px 18px 25px rgba(0, 0, 0, 0.06);
    }

    .appointment__header {
        background-color: $pink;
        text-align: center;
        color: $white;
        padding: 15px 0;
        border-radius: 4px 4px 0 0;
        font-size: 20px;
        margin: 0 0 10px;
    }

    .appointment__inner {
        padding: 0 25px 25px;
        color: $black-alt;  
        position: relative;  
    }

    .button__appointment_submit {
        background-color: $pink;

        &:hover {
            background-color: darken($pink, 10%);
        }
    }