    @import "_variables.scss";
    @import "_mixins.scss";
    @import "_reset.scss";

    @import "_general.scss";
    @import "_header.scss";
    @import "_footer.scss";

    @import "_layout.scss";
    @import "_admin.scss";