@import url("bootstrap-grid.css");
@import url("jquery-ui.min.css");
@import url("jquery-ui.structure.min.css");
@import url("jquery-ui.theme.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("fontawesome.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  height: 100%;
  line-height: 1.5;
  color: #321497;
  scroll-behavior: smooth;
}

.site__content_container {
  height: auto;
}

.site__main {
  padding: 0;
}

.site__wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .site__wrapper {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .site__wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .site__wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .site__wrapper {
    width: 1170px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none !important;
}

.responsiveimg {
  display: block;
  width: 100%;
  height: auto;
}

.alert {
  background-color: #0a0918;
  border-radius: 2px;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  margin: 1rem auto;
  padding: .5rem 2rem .5rem 1rem;
  position: relative;
  text-align: left;
  width: 100%;
}

.alert a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.alert-success {
  background-color: #32b259;
}

.alert-failure {
  background-color: #af1e48;
}

.label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: black;
  font-weight: bold;
  margin-bottom: .5em;
}

.button {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.4375rem 1.75rem;
  border: 0;
  outline: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}

.form__text_field {
  font-size: 14px;
  width: 100%;
  border: 1px solid #d8dae0;
  margin-bottom: 1.25em;
  padding: 0.625rem 0.875rem;
  color: #0a0918;
  border-radius: 2px;
  background-color: white;
  background-clip: padding-box;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
}

.form__text_field:focus {
  border-color: #321497;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__select_menu {
  background: white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
  background-size: 14px 16px;
  border: 1px solid #d8dae0;
  border-radius: 2px;
  width: 100%;
  color: #0a0918;
  font-size: 14px;
  padding: 11px 14px;
  padding-right: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__select_menu:focus {
  outline: none;
  border-color: #321497;
  -webkit-box-shadow: 0 0 1px #321497;
          box-shadow: 0 0 1px #321497;
}

.display-mobile {
  display: block;
}

@media (min-width: 992px) {
  .display-mobile {
    display: none !important;
  }
}

.display-desktop {
  display: none;
}

@media (min-width: 992px) {
  .display-desktop {
    display: block !important;
  }
}

h1 {
  font-size: 32px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 18px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 28px;
  }
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.site__header {
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}

.site__header .site__header_container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.site__header.fixed {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
}

.site__header.fixed .site__header_nav .site__header_nav_list .site__header_nav_item:not(:last-child) .site__header_nav_link,
.site__header.fixed .site__header_logo .site__header_link {
  color: #0a0918;
}

.site__header.fixed .site__header_nav .site__header_nav_list .site__header_nav_item:not(:last-child) .site__header_nav_link:hover,
.site__header.fixed .site__header_logo .site__header_link:hover {
  color: #ee2761;
}

.site__header.in-view {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.site__header_logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.site__header_logo .site__header_link {
  color: white;
  text-decoration: none;
}

.site__header_nav {
  display: none;
}

@media (min-width: 992px) {
  .site__header_nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex: 2 auto;
            flex: 2 auto;
  }
}

.site__header_nav .site__header_nav_list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site__header_nav .site__header_nav_list .site__header_nav_item {
  padding: 0 0.5em;
}

.site__header_nav .site__header_nav_list .site__header_nav_item .site__header_nav_link {
  font-size: 18px;
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.site__header_nav .site__header_nav_list .site__header_nav_item .site__header_nav_link:hover {
  color: #ee2761;
}

.site__header_nav .site__header_nav_list .site__header_nav_item:last-child {
  display: block;
}

.site__header_nav .site__header_nav_list .site__header_nav_item:last-child .site__header_nav_link {
  background-color: #ee2761;
  border-radius: 6px;
  padding: 8px 20px;
  color: white;
}

.site__header_nav .site__header_nav_list .site__header_nav_item:last-child .site__header_nav_link:hover {
  background-color: #af1e48;
}

.site__header_menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2 auto;
          flex: 2 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .site__header_menu {
    display: none;
  }
}

.site__header_menu .site__header_menu_checkbox {
  display: none;
}

.site__header_menu .site__header_menu_checkbox:checked ~ .site__header_menu_background {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.site__header_menu .site__header_menu_checkbox:checked ~ .site__header_menu_nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: initial;
  opacity: 1;
}

.site__header_menu .site__header_menu_button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site__header_menu .site__header_menu_background {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee2761), to(#f6f6f9));
  background-image: linear-gradient(to right bottom, #ee2761, #f6f6f9);
  z-index: 10;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  visibility: 0;
}

.site__header_menu .site__header_menu_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 11;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in, -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 0.8s ease-in, -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: opacity 0.8s ease-in, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.site__header_menu .site__header_menu_list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.site__header_menu .site__header_menu_item {
  margin: 1rem;
  counter-increment: list;
}

.site__header_menu .site__header_menu_link::before {
  content: "0" counters(list, "");
  padding-right: 1.2rem;
}

.site__header_menu .site__header_menu_link:link, .site__header_menu .site__header_menu_link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.site__header_menu .site__header_menu_link:hover, .site__header_menu .site__header_menu_link:active {
  color: #ee2761;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.site__header_menu .site__header_menu_icon {
  display: inline-block;
  position: relative;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span {
  position: absolute;
  height: 5px;
  width: 50%;
  background-color: #ee2761;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(even) {
  left: 50%;
  border-radius: 0 0.7rem 0.7rem 0;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(odd) {
  left: 0;
  border-radius: 0.7rem 0 0 0.7rem;
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(1), .site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(2) {
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(5), .site__header_menu .site__header_menu_icon .site__header_menu_span:nth-child(6) {
  -webkit-transform: translateY(0.625rem);
          transform: translateY(0.625rem);
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(1), .site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(6) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(2), .site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(2), .site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(6) {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(1), .site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(5) {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button .site__header_menu_span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.site__header_menu .site__header_menu_button:hover .site__header_menu_span:nth-child(3) {
  -webkit-transform: translateX(-0.2rem) scale(1.05);
          transform: translateX(-0.2rem) scale(1.05);
}

.site__header_menu .site__header_menu_button:hover .site__header_menu_span:nth-child(4) {
  -webkit-transform: translateX(0.2rem) scale(1.05);
          transform: translateX(0.2rem) scale(1.05);
}

.site__header_menu .site__header_menu_checkbox:checked + .site__header_menu_button:hover .site__header_menu_icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.site__menu_is__open {
  overflow: hidden;
}

.site__footer {
  background-image: linear-gradient(105deg, #ee2761, #af1e48);
  padding: 20px 0;
  margin: 0;
}

.site__footer .site__copyright {
  color: white;
  font-size: 16px;
  text-align: center;
}

.privacy__terms {
  text-align: center;
  z-index: 100;
  position: relative;
  color: #6a6f72;
  margin: 80px 0 40px;
}

.privacy__terms p {
  font-size: .75rem;
}

.privacy__terms a {
  color: #6a6f72;
  text-decoration: underline;
}

#authentication__container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

@media (min-width: 992px) {
  #authentication__verification {
    border-right: thin solid #b8bdc5;
  }
}

#authentication__options {
  position: relative;
}

@media (min-width: 992px) {
  #authentication__options::before {
    color: #0a0918;
    content: 'or';
    background: white;
    position: absolute;
    left: 0;
    margin-left: -8px;
    padding: 8px 0;
  }
}

#authentication__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication_section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication__wrapper {
  width: 100%;
  max-width: 25rem;
}

@media (min-width: 992px) {
  .authentication__wrapper {
    width: 25rem;
  }
}

.authentication__heading {
  width: 100%;
  margin: 20px 0 30px;
}

.authentication__heading .authentication__title {
  font-size: 2em;
  font-weight: 600;
  color: #0a0918;
  text-align: center;
}

.button__auth_connect {
  color: #0a0918;
  border: 1px solid #d8dae0;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__auth_connect .auth__icon {
  width: 25px;
  height: 100%;
}

.button__auth_connect .auth__message {
  font-size: 14px;
}

.authentication__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #edeff3;
  color: #0a0918;
  height: 0;
  margin: 2.5rem 0;
  text-align: center;
}

.authentication__line p {
  width: 40px;
  background-color: white;
  margin: auto;
  font-size: 18px;
  margin-top: -15px;
}

.authentication__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
}

.authentication__option input[type='checkbox'] {
  padding: 0;
  margin: 0;
  position: relative;
}

.authentication__option span {
  font-size: 14px;
  color: #0a0918;
  margin-left: 5px;
}

.button__auth_login {
  width: 100%;
  font-weight: normal;
  background-color: #0a0918;
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#authentication__side_banner {
  background-image: url("../images/layout/ice_cream.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #d3d7ed;
}

#authentication__signup {
  margin: auto;
}

#authentication__signup .authentication__title {
  text-align: left;
}

.authentication__privacy_message {
  margin-bottom: 1em;
  margin-top: 1rem;
}

.authentication__privacy_message p {
  color: #0a0918;
  font-size: 10.5px;
  line-height: 1.75;
  text-align: left;
}

.authentication__privacy_message a {
  color: #0a0918;
  text-decoration: underline;
}

.authentication_section__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 50px;
}

@media (min-width: 992px) {
  .authentication_section__signup {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-left: 40px;
    height: 100%;
  }
}

.authentication__login {
  margin: 1em 0 0;
  text-align: center;
  letter-spacing: 0.05em;
}

.authentication__login p {
  color: #0a0918;
  font-size: 12px;
}

.authentication__login a {
  color: #0a0918;
  text-decoration: underline;
}

.dashboard__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  background-color: white;
}

.dashboard__header {
  height: 60px;
  position: relative;
}

.dashboard__actionbar {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
}

.dashboard__actionbar_inner {
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #edeff3;
  background-color: white;
  top: 0;
  height: 60px;
}

.dashboard__actionbar_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.5rem;
}

.dashboard__actionbar_name {
  border-left: 2px solid #d8dae0;
  padding-left: 10px;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  font-size: 16px;
  color: #0a0918;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.dashboard__actionbar_avatar {
  border-radius: 50%;
  width: auto;
  display: inline-block;
  height: 50px;
  min-width: 50px;
  background-color: #2c2c2c;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: white;
  position: relative;
  vertical-align: middle;
}

.dashboard__sidebar {
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  background-color: #230e6a;
  color: white;
  z-index: 101;
  position: relative;
  top: 0;
  left: 0;
}

.dashboard__sidebar_inner {
  padding: 2rem 1.5rem 0 1.5rem;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(146, 98, 98, 0.04), 0px 18px 25px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(146, 98, 98, 0.04), 0px 18px 25px rgba(0, 0, 0, 0.06);
}

.dashboard__sidebar_heading {
  margin-bottom: 20px;
}

.dashboard__sidebar_logo {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.dashboard__sidebar_nav {
  margin: 0;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard__sidebar_menu {
  padding: 0;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 2rem;
  position: relative;
  font-size: 16px;
}

.dashboard__sidebar_submenu {
  position: relative;
  margin: 0;
}

.dashboard__sidebar_submenu::before {
  content: '';
  position: absolute;
  top: 0;
  width: calc(100% + 48px);
  left: -24px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

.dashboard__sidebar_menu__item {
  margin: 0;
  padding: 0;
  display: block;
  outline: none;
}

.dashboard__sidebar_menu__item:last-of-type .dashboard__sidebar_menu__item_link {
  border-bottom: none;
}

.dashboard__sidebar_menu__item.active .dashboard__sidebar_menu__item_link {
  color: white;
}

.dashboard__sidebar_menu__item_link {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  outline: none;
}

.dashboard__sidebar_menu__item_link i {
  width: 30px;
  height: auto;
}

.dashboard__sidebar_menu__item_link span {
  text-align: left;
  height: auto;
  overflow: hidden;
}

.dashboard__sidebar_menu__item_link:hover {
  color: white;
}

.dashboard__sidebar_dropdown_submenu {
  margin-left: 15px;
  font-size: 14px;
}

.dashboard__sidebar_dropdown_toggle {
  white-space: nowrap;
  position: relative;
}

.dashboard__sidebar_dropdown_toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dashboard__content {
  overflow-y: auto;
  overflow-x: hidden;
  background: #f6f6f9;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 100%;
}

.dashboard__overview {
  width: 100%;
  padding: 0;
  display: block;
}

.dashboard__overview_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 2rem 0;
  height: 100%;
}

.dashboard__notifications {
  position: relative;
}

.dashboard_page__heading,
.dashboard_section__heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: black;
  margin-bottom: 1rem;
}

.dashboard_section__header {
  position: relative;
  zoom: 1;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: white;
  border: 1px solid #edeff3;
  border-bottom: 0;
}

.dashboard_section__content {
  zoom: 1;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 1.35rem 1.667rem;
  background-color: white;
  border: 1px solid #edeff3;
  -webkit-box-shadow: 0 2px 3px -2px #d8dae0;
          box-shadow: 0 2px 3px -2px #d8dae0;
}

.dashboard_section__heading {
  padding: 1.1rem 1.667rem;
  margin: 0;
  font-weight: 600;
}

.dashboard_page__heading {
  font-size: 20px;
  font-weight: bold;
}

.dashboard_section__title {
  text-align: left;
}

.dashboard_section__edit {
  float: right;
  font-size: 14px;
  color: #af1e48;
  font-weight: 600;
}

.dashboard_section__edit:hover {
  color: #ee2761;
}

.dashboard__form_message {
  background-color: #b8bdc5;
  border-radius: .3rem;
  color: white;
  font-size: .875rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
  padding: .5rem 2rem .5rem 1rem;
  position: relative;
  text-align: left;
  width: 100%;
}

.dashboard__form_message.dashboard__form_message--success {
  background-color: #12652c;
}

.dashboard__form_message.dashboard__form_message--alert {
  background-color: #ee2761;
}

.dashboard_page__account {
  display: block;
  height: 100%;
}

.account__general_settings,
.account__email_settings,
.account__password_settings {
  margin-bottom: 2.5rem;
}

.button-settings--update {
  background-color: black;
}

.button-settings--update:hover {
  background-color: #321497;
}

.account_info_form,
.update_email_form,
.update_password_form {
  width: 100%;
  position: relative;
}

.account__user_info,
.account__email_info,
.account__password_info {
  max-width: 25rem;
  margin-right: 6.25rem;
}

.form__textfield--input {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #d8dae0;
  margin-bottom: 1.25em;
  padding: 0.625rem 0.875rem;
  color: #0a0918;
  border-radius: 2px;
  background-color: white;
  background-clip: padding-box;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
}

.form__textfield--input:focus {
  border-color: #230e6a;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form___label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.profile__user_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

.profile__account_view {
  margin-bottom: 2.5rem;
}

.profile__user_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  height: 100%;
}

.profile__user_avatar .profile__user_thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 250px;
  width: 250px;
  min-height: 250px;
  background-color: #2c2c2c;
  overflow: hidden;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  border-radius: 2px;
  color: #6a6f72;
}

.profile__user_avatar .profile__user_thumbnail .profile__user_no_photo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__user_avatar .profile__user_thumbnail .profile__user_no_photo i {
  font-size: 3em;
}

.profile__user_avatar .profile__user_thumbnail .profile__user_no_photo span {
  font-weight: 700;
  font-size: 14px;
}

.border-top-left-right {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.profile__user_general {
  position: relative;
  display: block;
}

.profile__user_general .profile__user_fullname,
.profile__user_general .profile__user_email,
.profile__user_general .profile__user_phone,
.profile__user_general .profile__user_joined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.1rem;
}

.profile__user_general label {
  text-align: left;
  font-weight: 600;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0.3125rem;
}

.profile__user_general span {
  text-align: left;
}

.dashboard_page__coupons,
.dashboard_page__branches,
.dashboard_page__customers,
.dashboard_page__stores,
.dashboard_page__payouts {
  display: block;
  height: 100%;
}

.coupons__view_all,
.coupons__create_new,
.branches_active_main,
.branches_other_locations,
.customers_view_all,
.stores_toppings_wrapper,
.stores_sizes_wrapper,
.stores_types_wrapper,
.stores_create_item,
.payouts_view_checkout,
.payouts_statistics_overview {
  margin-bottom: 2.5rem;
}

.coupons__container,
.branches__container,
.customers__container,
.stores__container,
.payouts__container {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: auto;
}

.new_coupon__form,
.new_stores__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.new_coupons__textfield,
.new_stores__textfield {
  font-size: 14px;
  width: 100%;
  border: 1px solid #d8dae0;
  padding: 0.625rem 0.875rem;
  color: #0a0918;
  border-radius: 2px;
  background-color: white;
  background-clip: padding-box;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
  height: 40px;
}

.new_coupons__textfield:focus,
.new_stores__textfield:focus {
  border-color: #230e6a;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.new_coupons__form_select,
.new_stores__form_select {
  background: white url(../images/layout/double_caret.png) no-repeat right 5px top 50%;
  background-size: 14px 16px;
  border: 1px solid #d8dae0;
  border-radius: 2px;
  color: #0a0918;
  font-size: 14px;
  width: 100%;
  outline: 0;
  padding: 11px 14px;
  padding-right: 1.5em;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.new_coupons__form_select:focus,
.new_stores__form_select:focus {
  border-color: #230e6a;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.new_coupon__code,
.new_coupon__type,
.new_coupon__discount,
.new_coupon__quantity,
.new_coupon__expiration {
  margin-right: 12px;
  width: 100%;
}

.new_coupon__save__container {
  position: relative;
  margin: 0;
}

.new_coupon__save_button {
  background-color: #0a0918;
  border: solid 1px;
  border-color: #0a0918;
}

.new_coupon__save_button:hover {
  border-color: #321497;
  background-color: #321497;
}

.new_coupon__save_button.disabled {
  background-color: #b8bdc5;
  border: solid 1px #b8bdc5;
  pointer-events: none;
  cursor: not-allowed;
}

.news_stores__thumbnail,
.new_stores__name,
.new_stores__quantity,
.new_stores__size,
.new_stores__price {
  margin-right: 12px;
  width: 100%;
}

.new_stores__add_item {
  background-color: #0a0918;
  border: solid 1px;
  border-color: #0a0918;
}

.new_stores__add_item:hover {
  background-color: #321497;
  border-color: #321497;
}

.new_stores__edit_item {
  background-color: #230e6a;
  border: solid 1px;
  border-color: #230e6a;
  color: white;
}

.new_stores__edit_item:hover {
  background-color: #d3d7ed;
  border-color: #d3d7ed;
}

.new_stores__cancel_item {
  background-color: white;
  border: solid 1px;
  border-color: #6a6f72;
  color: #0a0918;
}

.new_stores__cancel_item:hover {
  background-color: #f6f6f9;
  border-color: #d8dae0;
}

.stores__form_container {
  border-top: solid 1px #edeff3;
  padding: 0;
  position: relative;
}

.stores__wrapper {
  padding: 1.1rem 1.667rem 1.1rem;
}

.list__container {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.list_item {
  border-bottom: 1px solid #edeff3;
  display: table-row;
}

.list_item:last-child {
  border-bottom: none;
}

.list_item--heading {
  border-bottom: 1px solid #edeff3;
  font-size: 1rem;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list_item__cell {
  padding: 1rem;
  white-space: nowrap;
  font-style: normal;
  font-size: 14px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.list_item__cell:first-of-type {
  padding-left: 1.667rem;
}

.list_item__cell--link {
  color: #0a0918;
  font-weight: normal;
}

.list_item__cell--link:hover {
  text-decoration: underline;
}

.list_item__cell--main {
  font-size: 14px;
  color: black;
}

.list_item__cell--delete,
.list_item__cell--favorite,
.list_item__cell--edit {
  font-size: 14px;
  height: auto;
  width: auto;
  color: #6a6f72;
  cursor: pointer;
}

.list_item__cell--delete:hover,
.list_item__cell--favorite:hover,
.list_item__cell--edit:hover {
  color: #0a0918;
}

.list_item__cell--buttons,
.list_item__cell--icons {
  position: relative;
  margin: 0;
}

.main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: dash 4s alternate infinite;
          animation: dash 4s alternate infinite;
}

.fundo {
  -webkit-animation: scales 3s alternate infinite;
          animation: scales 3s alternate infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.pao-baixo {
  -webkit-animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
          animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.pao-cima {
  -webkit-animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
          animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.olhos {
  -webkit-animation: olhos 2s alternate infinite;
          animation: olhos 2s alternate infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.left-sparks {
  -webkit-animation: left-sparks 4s alternate infinite;
          animation: left-sparks 4s alternate infinite;
  -webkit-transform-origin: 150px 156px;
          transform-origin: 150px 156px;
}

.right-sparks {
  -webkit-animation: left-sparks 4s alternate infinite;
          animation: left-sparks 4s alternate infinite;
  -webkit-transform-origin: 310px 150px;
          transform-origin: 310px 150px;
}

@-webkit-keyframes scales {
  from {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scales {
  from {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotatepao {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotatepao {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes olhos {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
}

@keyframes olhos {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
}

@-webkit-keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes dash {
  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

@keyframes dash {
  0%,
  30% {
    fill: 4B4B62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}

.site__section_about {
  position: relative;
  padding: 60px 0 80px;
  background-color: transparent;
}

.site__section_about #site__about_content {
  position: relative;
  text-align: center;
}

@media (min-width: 992px) {
  .site__section_about #site__about_content {
    text-align: left;
    margin-bottom: 50px;
  }
}

.site__section_about #site__about_content .site__section_content_inner {
  position: relative;
}

@media (min-width: 992px) {
  .site__section_about #site__about_content .site__section_content_inner {
    padding: 40px 100px 0 0;
  }
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_heading {
  position: relative;
  padding-bottom: 20px;
  color: #0a0918;
}

@media (min-width: 992px) {
  .site__section_about #site__about_content .site__section_content_inner .site__section_content_heading {
    padding-bottom: 20px;
  }
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_heading .site__section_content_title {
  position: relative;
  color: #ee2761;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_heading .site__section_content_title::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 40px;
  height: 1px;
  background-color: #b8bdc5;
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_text {
  position: relative;
  color: #6a6f72;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .site__section_about #site__about_content .site__section_content_inner .site__section_content_text {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_button {
  position: relative;
  line-height: 24px;
  color: #0a0918;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding: 12px 40px;
  background-color: white;
  text-transform: capitalize;
  border: 2px solid #ee2761;
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_button:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
  right: -10px;
  bottom: -10px;
  background: url("../images/layout/pattern.jpg") no-repeat;
}

.site__section_about #site__about_content .site__section_content_inner .site__section_content_button:hover {
  color: white;
  background-color: #ee2761;
}

.site__section_about #site__about_image {
  display: none;
}

@media (min-width: 992px) {
  .site__section_about #site__about_image {
    position: relative;
    display: block;
    margin-bottom: 50px;
  }
}

.site__section_about #site__about_image .site__section_image_inner {
  position: relative;
  padding: 40px 40px 0 0;
  margin-left: 50px;
}

.site__section_about #site__about_image .site__section_image_inner .site__section_image_container {
  position: relative;
}

.site__section_about #site__about_image .site__section_image_inner .site__section_image_container:before {
  content: '';
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 300px;
  height: 300px;
}

.site__section_about #site__about_image .site__section_image_inner .site__section_image_container .site__section_image_overlay {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.site__section_about #site__about_image .site__section_image_inner .site__section_image_container .site__section_image_overlay .site__section_image_overlay_year {
  position: relative;
  color: #0a0918;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4em;
  padding-left: 125px;
}

.site__section_about #site__about_image .site__section_image_inner .site__section_image_container .site__section_image_overlay .site__section_image_overlay_number {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  color: #ee2761;
  font-size: 70px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

.site__section_about #site__about_image .site__section_image_inner:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 40px;
  bottom: 100px;
  z-index: -1;
  border: 2px solid #ee2761;
}

.site__section_service {
  background-color: #f6f6f9;
  position: relative;
  padding: 100px 0;
}

.site__section_service .site__section_service_title {
  text-align: center;
  margin-bottom: 30px;
  color: #0a0918;
}

.site__section_service .site__section_service_title h2 {
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.site__section_service .site__section_service_title h2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80px;
  height: 5px;
  background-color: #ee2761;
  bottom: -25px;
  margin: auto;
  right: 0;
}

.site__section_service .site__section_service_title p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5em;
}

@media (min-width: 1200px) {
  .site__section_service .site__section_service_title p {
    padding: 0 180px;
  }
}

.site__section_service .site__section_service_container {
  border: 1px solid #d8dae0;
  padding: 50px 30px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.site__section_service .site__section_service_container#site__section_service_hair:hover {
  background-image: url("../images/layout/hair.jpg");
}

.site__section_service .site__section_service_container#site__section_service_nail:hover {
  background-image: url("../images/layout/nail.jpg");
}

.site__section_service .site__section_service_container#site__section_service_massage:hover {
  background-image: url("../images/layout/massage.jpg");
}

.site__section_service .site__section_service_container:hover {
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: gradient(to top bottom, #6a6f72, #b8bdc5);
}

.site__section_service .site__section_service_container:hover::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 1;
}

.site__section_service .site__section_service_container:hover h4,
.site__section_service .site__section_service_container:hover p {
  color: white;
}

.site__section_service .site__section_service_container .site__section_service_icon {
  position: relative;
  padding: 0;
}

.site__section_service .site__section_service_container .site__section_service_icon i {
  font-size: 40px;
  color: #ee2761;
  margin-bottom: 20px;
  display: inline-block;
}

.site__section_service .site__section_service_container h4 {
  font-weight: 600;
  color: #0a0918;
  margin-bottom: 18px;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
}

.site__section_service .site__section_service_container p {
  color: black;
  margin-bottom: 15px;
  position: relative;
}

.site__section_service .site__section_service_container a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  color: #ee2761;
}

.site__section_service .site__section_service_container a:hover {
  color: #af1e48;
}

.site__section_news {
  background-color: white;
  padding: 100px 0 80px;
  position: relative;
}

.site__section_news_container {
  -webkit-box-shadow: 0 0 15px #edeff3;
          box-shadow: 0 0 15px #edeff3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 0 40px;
}

.site__section_news_container:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 15px 15px 0px #d8dae0;
          box-shadow: 0px 15px 15px 0px #d8dae0;
}

.site__section_news_item {
  position: relative;
}

.site__section_news_content {
  padding: 30px 25px;
}

.site__section_news_content h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #0a0918;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.site__section_news_content p {
  color: black;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.site__section_news_image {
  position: relative;
}

.site__section_news_date {
  color: #ee2761;
}

.site__section_news_author {
  border: transparent;
  padding: 14px 0 0;
  font-size: 14px;
}

.site__section_news_author i {
  margin-right: 6px;
  color: #321497;
}

.site__section_news_author a {
  color: #6a6f72;
}

.site__section_news_author span:last-child {
  float: right;
}

.site__section_news_heading {
  margin: 0 0 50px;
  text-align: center;
}

.site__section_news_heading .site__section_news_title {
  color: #0a0918;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.site__section_news_heading .site__section_news_title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80px;
  height: 5px;
  background-color: #ee2761;
  bottom: -25px;
  margin: auto;
  right: 0;
}

.site__hero {
  background: url("../images/layout/hero.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

.site__hero h2 {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 1;
  font-weight: 600;
  color: #f6f6f9;
  padding: 0 0 0.5rem;
}

.site__hero p {
  color: white;
  position: relative;
  z-index: 1;
  padding: 0 0 1.25rem;
}

@media (min-width: 576px) {
  .site__hero p {
    margin: 0 auto;
    width: 65%;
  }
}

.site__hero button {
  z-index: 1;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.site__hero button.hero__button {
  width: 12rem;
  height: auto;
}

.site__hero button.hero__button .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background-color: #ee2761;
  border-radius: 1.625rem;
}

.site__hero button.hero__button .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}

.site__hero button.hero__button .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.site__hero button.hero__button .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site__hero button.hero__button .hero__text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.site__hero button:hover .circle {
  width: 100%;
}

.site__hero button:hover .circle .icon.arrow {
  background: white;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

.site__hero button:hover .hero__text {
  color: white;
}

.site__hero:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */